      	<a href="#rate" class="sub-page" id="page-1-title">Pick</a>
      	<a href="#search" class="sub-page active-page" id="page-2-title">Rate</a>
      	<a href="#watch" class="sub-page" id="page-3-title">Reco</a>

    <div class="header-holder">
        <div class="input-plate">
            <input id="searchState" type="search" placeholder="KA" ng-model="searchState" maxlength="2" autocorrect="off" >
            <input id="searchSeg1" type="search" placeholder="01" ng-model="searchSeg1" maxlength="2" autocorrect="off" >
            <input id="searchSeg2" type="search" placeholder="MD" ng-model="searchSeg2" maxlength="2" autocorrect="off" >
            <input id="searchPlate" type="search" placeholder="0000" ng-model="searchPlate" maxlength="4" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
            <button class="button button-clear" ng-click="search()">Search</button>

        </div>
    </div>
    <div class="header-holder">
        <div ng-switch="oneResult">
        	<div ng-switch-when="1" class="input-plate">
			                {{chosenDriver.id}}
			                {{chosenDriver.firstName}} {{chosenDriver.lastName}}
			                {{chosenDriver.Score}}
        		<input id="driverRating" type="search" placeholder="5" maxlength="1" ng-model="$parent.driverRating" autocorrect="off" >
        		<button class="button button-clear" ng-click="scoreDriver()">Send Scores</button>
            	
            </div>
            <div ng-switch-when="2">
	            <ul>
		            <li ng-repeat="employee in fares" type="item-text-wrap" class="item-avatar">
		                <!--<a href="#/employees/{{employee.id}}">hi</a>-->
		                <img src="pics/{{employee.pic}}"/>
		                {{employee.firstName}} {{employee.lastName}}
		                <li ng-repeat="star in [1,2,3,4,5]">
		                	<div>hi</div>
		                	<div ng-switch="employee.Score >= star">
		                		<div ng-switch-when="true">*</div>
		                		<div ng-switch-when="false">*</div>
		                	</div>
		                	<p>{{employee.Score}}</p>
		                </li>
		                <p>{{employee.Score}}</p>
		            </li>
	        	</ul>
	        </div>
	        <div ng-switch-when="0">
      	        <div class="input-plate">
		            <input id="firstName" type="search" placeholder="First Name" ng-model="$parent.firstName" maxlength="15" autocorrect="off" >
		            <input id="lastName" type="search" placeholder="Last Name" ng-model="$parent.lastName" maxlength="15" autocorrect="off" >
		            <button class="button button-clear" ng-click="clearDriver()">X</button>
		            <button class="button button-clear" ng-click="addDriver()">Add Driver</button>
		        </div>
	        </div>


        </div>
    </div>

	<div class="header-holder">
	</div>